<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">Editar Foto</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet", href="/css/register.css">
</head>

<body>
  
    <h1 class="titulo">Foto a Editar:  <%=  product.name %></h1>
    <section class="formulario">
        <form action="/product/edit/<%= product.id %>" method="POST">

            <label for="">Nombre de la foto</label>
            <input type="text" name="name" id="name" value="<%= product.name %>"></p>
            <label for="">Descripcion</label>
            <input type="text" name="description" id="description" value="<%= product.description%>"></p>
            <label for="price">Precio </label>
            <p><input type="number" name="price" id="price" value="<%= product.price %>"></p>

            <br>
            <p> <button class="botonAgregar" type="submit">Actualizar</button>
        
            <a  class="botonVolver" href="/product/list">Listado de Fotos</a></p>
        </form>
    </section>

    <div class="errores">
        <ul></ul>
    </div>


  
    <script src="/js/productEditValidator.js"></script>

</body>

</html>