<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta charset="UTF-8">
	<title>Photo Station / Detalle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= product.name %> </title>
	<link rel='stylesheet' href='/css/normalize.css'/>
	<link rel='stylesheet' href='/css/style.css'/>
	<link rel='stylesheet' href='/css/productDetail.css'/>
	
</head>
<body>
	<header>
		<%- include("../partials/header") %>
	</header>
	
	<main>
		<div id="box-general">			
			<div id="box-principal">
				<div id="box-imagen">
					<img src="/images/photos/<%= product.image %>">
				</div>

				<div id="box-descripcion">
					<div id="descripcion">
						
						<div id="titulo-imagen"><%= product.name %> </div>
						
						<div class="detalles-imagen"><%= product.description %></div>
						
						<div class="detalles-imagen">Precio: $<%= product.price %></div>

						
						
						
    	
      					<div id="botones">
							<% if(locals.logueado.admin === 1) {%>
							<button class="boton-editar" type="button" name="boton_editar" id="boton_editar" onclick="location.href='/edit/<%= product.id %>'"><span>Editar</span></button>
						
							<form id="boton-eliminar" action="/product/delete/<%= product.id %>" method="POST">
								<button type="submit" ><span>Eliminar</span></button>
							</form>	

							<%}%>	
							<button class="boton-editar" type="button" name="boton_editar" id="boton_editar" onclick=""><span>Comprar</span></button>

						</div>
						
						<!-- <button class="boton-editar" type="button" name="boton_editar" id="boton_editar" onclick="location.href='/edit/<%= product.id %>'"><span>Comprar</span></button> -->
						
						
					</div>	
				</div>
			</div>
		</div>
	</main>

	<footer>
		
	<!--	<%- include("../partials/footer") %> -->
	</footer>
</body>
</html>
