<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    
    <h1><%= product.name %> </h1>    
    <br>
    
    <img src="/images/photos/<%= product.image %>">
    <br>
    <p>DESCRIPCION : <%= product.description %> </p>
    <p>PRECIO: <%= product.price %> </p>
    
    <br>
    <a href="/edit/<%= product.id %>">Editar</a>
    <form action="/product/delete/<%= product.id %>" method="POST">
        <button type="submit" >Eliminar</button>
    </form>
</body>
</html>
