<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Photo Station / Listado de usuarios</title>
	<link rel="icon" type="image/png" href="images/photostation-isotipo.png"/>
	<link rel="stylesheet", href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet", href="/css/userList.css">

</head>

<body>
	<div id="page-container">
		<header>
			<%- include("../partials/header") %>
		</header>
		
		<div class="form">
			<form class="login-form" method="POST" action="/register/crear" enctype="multipart/form-data">   
				<div id="titulo-imagen">Listado de usuarios</div>
				
				<div id="categorias-box">
					<ul>
						<% for( let i = 0; i < user.length; i++ ) { %>
						<li>
							<a href="register/detail/<%=user[i].id %>"><%= user[i].username %></a>
							<img src="/images/profile/<%= user[i].image %>">
						</li>>
						<% } %>
					</ul>
				</div>
			</form>

		</div>

		<!--
		<h1>Listado de usuarios</h1>
		<ul>
			<% for( let i = 0; i < user.length; i++ ) { %>
			<li>
				<a href="register/detail/<%=user[i].id %>"><%= user[i].username %></a>
				<img src="/images/profile/<%= user[i].image %>">
			</li>>
			<% } %>
		</ul>
		-->

		<footer>
			<%- include("../partials/footer") %>
		</footer>
	</div>
</body>

</html>



