<!DOCTYPE html>
<html lang="en">
    
<head>
	<meta charset="UTF-8">
	<title>Photo Station / Detalle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %> </title>
    <link rel='stylesheet' href='/css/normalize.css'/>
	<link rel='stylesheet' href='/css/style.css'/>
	<link rel='stylesheet' href='/css/userDetail.css'/>
</head>
<body>
    <header>
		<%- include("../partials/header") %>
	</header>

    <main>
		<div id="box-general">			
			<div id="box-principal">
				<div id="box-imagen">
					<img src="/images/profile/<%= user.image %>">
				</div>

				<div id="box-descripcion">
					<div id="descripcion">
						
						<div id="titulo-imagen"><%= user.username %> </div>
						
						<div class="detalles-imagen"><%= user.first_name %></div>
						
						<div class="detalles-imagen"><%= user.last_name %></div>

                        <div class="detalles-imagen"><%= user.email %></div>

						<div id="botones">
							<button class="boton-editar" type="button" name="boton_editar" id="boton_editar" onclick="location.href='/register/edit/<%= user.id %>'"><span>Editar</span></button>
							<form id="boton-eliminar" action="/user/delete/<%= user.id %>" method="POST">
								<button type="submit" ><span>Eliminar</span></button>
							</form>	
                            <button class="boton-editar" type="button" name="boton_editar" id="boton_editar" onclick="location.href='/logout/'"><span>Logout</span></button>

                            <!-- <button class="boton-editar" type="button" name="boton_editar" id="boton_editar" onclick="location.href='/edit/<%= user.id %>'"><span>Logout</span></button> -->
                            <!-- <a href="/logout">Logout</a> -->
						</div>
					</div>	
				</div>
			</div>
		</div>
	</main>


    <!-- <h1><%= user.username %> </h1>    
    <br>
    
    <img src="/images/profile/<%= user.image %>">
    <br>
    <p>Nombre : <%= user.first_name %> </p>
    <p>Apellido: <%= user.last_name %> </p>
    <p>Email: <%= user.email %> </p>

    
    <br>
    <a href="/register/edit/<%= user.id %>">Editar</a>
    <form action="/user/delete/<%= user.id %>" method="POST">
        <button type="submit" >Eliminar</button>
    </form> -->
    


    <footer>
		<%- include("../partials/footer") %>
		
	</footer>
</body>
</html>